*               text=auto eol=lf

*.bat           text eol=crlf
*.cmd           text eol=crlf

# Js sources
*.ts            text diff=ts   eol=lf
*.js            text diff=js   eol=lf
*.html          text diff=html eol=lf

# Media
*.png           binary
*.jpg           binary
*.ico           binary
*.jpeg          binary
*.gif           binary
